node_modules
sls-next-build

.coverage
.serverless
serverless
.next
.env
.env.prod
.env.production
.env.dev
.env.development
secrets.dev.js
secrets.stage.js
secrets.prod.js

dist
.docz/
.DS_Store
built
.vscode
